<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Execom.IOG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Execom.IOG.Properties.Settings>
            <setting name="SaveGeneratedAssemblyToDisk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneratedAssemblyFileName" serializeAs="String">
                <value>Execom.IOG.Runtime.dll</value>
            </setting>
            <setting name="IndexedFileGrowthRateBlocks" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="IndexedFileMagic" serializeAs="String">
                <value>IdxFs</value>
            </setting>
            <setting name="IndexedFileVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SnapshotIsolationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConcurrencyAttributesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConcurrencyAutoOverrideResolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObjectCacheMinimumCount" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="ObjectCacheMaximumCount" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="DataCacheMinimumCount" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="DataCacheMaximumCount" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="ParentMappingFileStorageUsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParentMappingFileName" serializeAs="String">
                <value>cache.dat</value>
            </setting>
            <setting name="ParentMappingMemoryMinimumCount" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="ParentMappingMemoryMaximumCount" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="ParentMappingFileBlockSize" serializeAs="String">
              <value>128</value>
            </setting>
            <setting name="ChangeSetHistoryFileStorageUsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChangeSetHistoryFileStorageFileName" serializeAs="String">
                <value>changes.dat</value>
            </setting>
            <setting name="ChangeSetHistoryWriteCacheMinimumCount" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="ChangeSetHistoryWriteCacheMaximumCount" serializeAs="String">
                <value>40000</value>
            </setting>
            <setting name="DefaultWorkspaceTimeoutSeconds" serializeAs="String">
                <value>900</value>
            </setting>            
        </Execom.IOG.Properties.Settings>
    </applicationSettings>
</configuration>