<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aquilesConfiguration" type="Aquiles.Core.Configuration.AquilesConfigurationSection,Aquiles.Core"/>
  </configSections>
  <aquilesConfiguration>
    <clusters>
      <add friendlyName="Test Cluster">
        <connection poolType="SIZECONTROLLEDPOOL" factoryType="FRAMED">
          <specialConnectionParameters>
            <add key="minimumClientsToKeepInPool" value="20" />
            <add key="maximumClientsToSupportInPool" value="1000" />
            <add key="magicNumber" value="7" />
          </specialConnectionParameters>
        </connection>
        <endpointManager type="ROUNDROBIN" defaultTimeout="6000">
          <cassandraEndpoints>
            <!-- Here we setup the address/port of cassandra instance-->
            <add address="localhost" port="9160"/>
          </cassandraEndpoints>
        </endpointManager>
      </add>
    </clusters>
    <!--We want logging off, so use the BlankLogger-->
    <loggingManager>Execom.IOG.AquilesStorage.BlankLogger, Execom.IOG.AquilesStorage</loggingManager>
  </aquilesConfiguration>
</configuration>